@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@model List<InforDeliveryModel>

@{
    ViewData["Title"] = "Manage Address";
}
<div class="w-75">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <form asp-action="ChooseAddress" asp-controller="Order" method="post" onsubmit="return chooseAddress(this);">

                <div class="border border-2 border-app radius-2 px-4 py-3 d-flex mt-4">
                    <div class="flex-grow-1">
                        @if (item.IsDefault)
                        {
                            <p class="h4 text-secondary mb-3">Default</p>
                        }
                        <div class="d-flex flex-column gap-3">
                            <div class="d-flex align-items-end gap-3">
                                <p class="h6">Name:</p>
                                <input name="Name" class="h5 text-primary" value="@item.Name" />
                            </div>
                            <div class="d-flex align-items-end gap-3">
                                <p class="h6">Phone:</p>
                                <input name="Phone" class="h5 text-primary" value="@item.Phone" />
                            </div>
                            <div class="d-flex align-items-end gap-3">
                                <p class="h6">Address:</p>
                                <input name="Address" class="h5 text-primary" value="@item.Address" />

                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-2">

                        <button class="btn-no-min btn-secondary" type="submit">
                            Pick
                        </button>
                    </div>
                </div>
            </form>

        }
    }
</div>
