@model OrderDetailModel

<div class="d-flex justify-content-between">
	<p class="h3 text-primary">Total</p>
	<p class="h3 text-primary">$@Model.Total</p>
</div>
<div class="mt-2 d-flex justify-content-between">
	<p class="caption">Delivery Fee</p>
	<p class="caption">$@Model.DeliveryCharge</p>
</div>
<div class="mt-2 d-flex justify-content-between">
	<p class="caption">Discount</p>
	<p class="caption">$0</p>
</div>
<div class="mt-4 d-flex justify-content-between">
	<p class="h2">Balance</p>
	<p class="h2">$@(Model.Total)</p>
</div>
