@model List<OrderDetailModel>

@{
	ViewData["Title"] = "Order Page";
}
<div class="row mt-4">
	<div class="col-lg-2 d-lg-block collapse borderCustom1 um">
		<p class="row-1 h4 mb-2">Status</p>

		<div class="tabCustom row-cols-6 w-100" style="max-height:260px;">
			<a class="tabCustom" style="height:50px;" asp-action="Index" asp-controller="Order" asp-route-filter="All" type="button">All</a>
			<a class="tabCustom" style="height:50px;" asp-action="Index" asp-controller="Order" asp-route-filter="Waiting" type="button">Waiting</a>
			<a class="tabCustom" style="height:50px;" asp-action="Index" asp-controller="Order" asp-route-filter="Purchased" type="button">Purchased</a>
			<a class="tabCustom" style="height:50px;" asp-action="Index" asp-controller="Order" asp-route-filter="Delivering" type="button">Delivering</a>
			<a class="tabCustom" style="height:50px;" asp-action="Index" asp-controller="Order" asp-route-filter="Delivered" type="button">Delivered</a>
			<a class="tabCustom" style="height:50px;" asp-action="Index" asp-controller="Order" asp-route-filter="Canceled" type="button">Canceled</a>

		</div>
	</div>


	<div class="col-lg-7 col-12 mt-3 mt-lg-0">
		<div class="d-flex justify-content-end d-lg-none">
			<button class="filter-icon border-0 fs-3" data-bs-toggle="collapse" data-bs-target=".um" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="h5">Filter</span>
			</button>
		</div>

		<partial name="_ViewAll" model=@Model />

	</div>

	<div class="col-lg-3">
		<p class="h2">Report</p>
		<div class="d-grid gap-3 h6 mt-3">
			<div class="d-flex justify-content-between border-bottom">
				<p class="">Total Order</p>
				<p>@ViewData["TotalAmount"]</p>
			</div>
			<div class="d-flex justify-content-between border-bottom">
				<p class="">Successfull Order</p>
				<p>@ViewData["Success"]</p>
			</div>
			<div class="d-flex justify-content-between border-bottom">
				<p class="">Waiting Order</p>
				<p>@ViewData["Waiting"]</p>
			</div>
			<div class="d-flex justify-content-between">
				<p class="">Total Price</p>
				<p>@ViewData["TotalPrice"]</p>
			</div>
		</div>
	</div>

</div>

