@using FlowerShopManagement.Web.Areas.Admin.Controllers
@model ImportViewModel
@{

}


    <div class="col-4">
        <partial name="_PickItem" model=@Model._lowOnStockProducts />
    </div>

    <div class="col-4">
     <partial name="_PickItem" model=@Model._lowOnStockProducts />
        
    </div>
