@model List<SupplyRequestModel>?

<partial name="_ViewAll" model=Model view-data=ViewData/>

<a class="btn btn-primary position-fixed" style="width:fit-content; bottom:60px; right:0" href="@Url.Action("Create","Import")">Create new +</a>