@model List<ImportModel>?

<partial name="_ViewAll" model=Model/>

<a class="btn btn-primary position-fixed" style="width:fit-content; bottom:60px; right:0" href="@Url.Action("Create","Import")">Create new +</a>