@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

:root {
    --primary-color: #605399;
    --second-color: #ada1e6;
    --surface-color: #efecf9;
    --pink-light-color: #ebc1ee;
    --pink-bold-color: #d562be;
    --white-color: #ffffff;
    --black-color: #000000;
    --link-color: #9aa1bb;
    --demo-color: #d9d9d9;
    --font-family: Poppins;
    --body-font-size: 1rem;
    --body-font-weight: 400;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    font-weight var(--body-font-weight);
    background-color: var(--white-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

ul, li {
    margin: 0;
    padding: 0;
    display: inline-block
}

div {
    display: block;
}

input {
    text-align: center;
}

.input {
    width: 248px;
    height: 45px;
    border-width: 1.5px;
    border-color: var(--primary-color);
    border-radius: 4px;
}

.fa {
    font-family: 'FontAwesome' !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
}

.h1, h1 {
    font-size: calc(1.425rem + 1vw)
}

@media (min-width:1200px) {
    .h1, h1 {
        font-size: 3rem
    }
}

.h2, h2 {
    font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {
    .h2, h2 {
        font-size: 2.5rem
    }
}

.h3, h3 {
    font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {
    .h3, h3 {
        font-size: 2rem
    }
}

.h5, h5 {
    font-size: 1.1rem
}

.h4, h4 {
    font-size: 1.2rem
}

.text-caption {
    font-size: 0.8rem;
}

.navbar-nav {
    flex-grow: 1;
}

.navbar-func {
    display: flex;
    justify-content: space-between
}

.test {
    display: flex;
    flex-grow: 0.083;
}

.navbar-func > li {
    display: inline-block;
}

i {
    font-size: 1.3rem
}

.navbar-brand {
    font-size: calc(0.2rem + 2.1vw);
    font-weight: 600
}

.nav-item {
    padding-left: 30px;
    padding-right: 40px;
}

.nav-link {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--link-color)
}

.container-fluid {
    margin-left: 100px;
    margin-right: 100px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

button, .btn {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    font-size: small;
    font-weight: 500;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.btn-secondary {
    background-color: var(--white-color);
    border-color: var(--primary-color);
    border-block-width: 1.5px;
    border-right-width: 1.5px;
    border-left-width: 1.5px;
    color: var(--black-color);
    font-weight: 600
}

/*home*/
.home-banner {
    width: 100%;
    height: 15rem;
    background-color: var(--demo-color);
}

.home-label {
    margin-bottom: 1.2rem;
}

.category-item {
    width: 124px;
    height: 124px;
    background-color: var(--surface-color);
    padding: 20px 10px;
    margin-right: 1rem;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    text-align: center;
    display: inline-block
}

.category-icon {
    font-size: 3.5rem;
}

.category-name {
    font-size: small;
    font-weight: 600;
}

/*home - product*/

.product-card {
    width: 248px;
    height: 448px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

.product-card-image {
    width: 100%;
    height: 288px;
    background-color: var(--demo-color);
}

.product-card-body {
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 13px;
    background-color: var(--white-color);
    flex-grow: 1;
}

.product-card-submit {
    position: absolute;
    top: 5.5rem;
    right: 12px;
}

.product-card-name {
    font-size: medium;
    font-weight: 500;
    font-size: 1.1rem;
    display: block
}

.product-card-price {
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    margin-top: 4px;
}

.fav-icon {
    font-size: 1.5rem
}

/*productd detail*/
.product-detail-image {
    width: 400px;
    height: 420px;
    background-color: var(--demo-color)
}

.product-detail-body {
    margin-left: 1rem;
    position: relative
}

    .product-detail-body div:nth-of-type(3) {
        position: absolute;
        bottom: 0;
    }

    .product-detail-body select {
        width: 248px;
        height: 43px;
        border-radius: 4px;
        border-width: 1.5px;
        border-color: var(--primary-color)
    }

label {
    display: block
}

.product-quantity {
    width: fit-content;
    background-color: var(--surface-color);
    border-radius: 4px;
}

.product-quantity-control {
    width: 47px;
    height: 43px;
    background-color: var(--second-color);
    color: var(--white-color);
    border: none;
}

    .product-quantity-control i {
        color: var(--black-color);
        font-size: 1rem;
        display: block;
    }

.product-quantity input {
    border: none;
    background-color: transparent;
    height: 43px;
    width: 60px;
}

.product-detail-btn {
    display: block;
    width: 180px;
}

.product-detail-description {
    width: 248px;
    height: auto;
    position: relative
}

p {
    font-size: 0.9rem
}

/*product detail - info*/
.product-detail-info-row {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.product-detail-info {
    position: absolute;
    bottom: 0;
}


.product-info-card {
    width: 112px;
    height: 79px;
    display: flex;
    background-color: var(--surface-color);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.product-info-icon {
    font-size: 2.2rem;
    margin-right: 4px;
}

.product-info-label {
    font-size: 0.6rem;
    display: block
}

.product-info-value {
    font-size: smaller;
    font-weight: 600;
    display: block
}

/*cart*/
.cart-page {
    display: flex
}

.cart-item-part {
    flex-grow: 1
}

.cart-item {
    display: inline-flex;
    margin-bottom: 1rem
}

    .cart-item input:first-child {
        margin: 0 0.8rem 0 0;
        width: 1.2rem;
    }

/*cart - item*/
.cart-item-card {
    width: 540px;
    border-radius: 4px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--white-color);
    overflow: hidden
}

.cart-item-image {
    width: 140px;
    height: 144px;
    background-color: var(--second-color)
}

.cart-item-body {
    flex-grow: 1;
    margin-left: 0.7rem;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    margin-right: 12px;
    position: relative
}

    .cart-item-body div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart-item-body div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .cart-item-body div:nth-child(3) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        width: 100%;
    }


.text-title {
    font-weight: 600;
}

.cart-item-price {
    font-size: 0.8rem;
}

.cart-item-total-price {
    font-size: large;
    font-weight: bold;
}

.cart-item-icon-delete {
    color: var(--pink-bold-color);
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--surface-color)
}

.cart-price-part {
}

    .cart-price-part div {
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
    }

        .cart-price-part div:nth-child(2) {
            opacity: 0.7
        }

.cart-btn-submit {
    width: 100%;
    margin-top: 2rem;
}

/*order*/
.order-page {
    display: flex;
    justify-content: space-between
}

.order-item-part {
}

.order-item-part div:nth-child(2) {
    display: flex
}

    .order-item-part div:nth-child(2) div:nth-child(2) {
        flex-grow: 1
    }

.order-item-card {
    width: 100%;
    height: 100px;
    display: flex;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--white-color);
    overflow: hidden
}

.order-item-image {
    width: 90px;
    height: 100%;
    background-color: var(--second-color)
}

.order-item-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    margin-right: 12px;
    margin-left: 0.6rem
}

.order-item-body div {
    display: inline-flex;
    justify-content: space-between
}

.order-item-quantity {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.order-item-price {
    font-size: 0.9rem
}

.order-payment-item {
    display: flex;
}

.order-payment-item input {
    width: 1.1rem;
    margin-right: 4px
}

.order-payment-item label {
    font-size: 0.95rem
}

.order-customer-info span {
    display: block
}

.order-price-part {
}

.order-voucher-check {
    width: 6rem;
    margin-left: 1rem;
}