@model CartModel

@{
	ViewData["Title"] = "Cart Page";

	ViewBag.IsAuthenticated = false;
}

@if (Context.User.Identity is not null)
{
	ViewBag.IsAuthenticated = Context.User.Identity.IsAuthenticated;
}

@if (!ViewBag.IsAuthenticated)
{
	<div class="d-flex flex-column gap-5 align-items-center mt-5">
		<div class="d-flex flex-column gap-4 align-items-center">
			<p class="h1">Let's Login to View Cart</p>
			<button class="btn btn-primary w-100" onclick="location.href = '@(Url.Action("SignIn", "Authentication"))'">Login</button>
		</div>
		<div class="d-flex flex-column gap-3 align-items-center">
			<p class="">If you have no account, register below here~</p>
			<button class="btn btn-secondary" onclick="location.href = '@(Url.Action("Register", "Authentication"))'">Register new account</button>
		</div>
	</div>
}
else
{
	<div class="mt-5 row">
		<div class="col-6">
			@if (Model.Items is not null && Model.Items.Count() > 0)
			{
				@foreach (var item in Model.Items)
				{
					<component type="typeof(CartCardItem)"
				   render-mode="ServerPrerendered"
				   param-product=@item.items
				   param-productId=@item._productId
				   param-amount=@item.amount
				   param-id=@item._id
				   param-maxAmount=@item.items.Amount
				   param-isSelected=@item.isSelected
				   param-url=@Url.Action("RemoveOutOfCart","Cart",null,Context.Request.Scheme)
				   param-url1=@Url.Action("UpdateAmount","Cart",null,Context.Request.Scheme)
				   param-url2=@Url.Action("UpdateSelection","Cart",null,Context.Request.Scheme) />
				}
			}
		</div>
		<div class="col-3"></div>
		<div class="col-3">
			<div class="d-flex justify-content-between">
				<p class="h3 text-primary">Total</p>
				<p class="h3 text-primary">$@Model.Total</p>
			</div>
			<div class="mt-2 d-flex justify-content-between">
				<p class="caption">Discount</p>
				<p class="caption">20.000</p>
			</div>
			<div class="mt-4 d-flex justify-content-between">
				<p class="h2">Balance</p>
				<p class="h2">$(@Model.Total)</p>
			</div>
			<button class="btn btn-primary w-100 mt-5" onclick="">Buy Now</button>
		</div>
	</div>
}
