@using FlowerShopManagement.Web.Views.Shared.Components;

@{
	ViewData["Title"] = "Cart Page";
}

<div class="mt-5 row">
	<div class="col-7">
		<component type="typeof(CartCardItem)" render-mode="Static" />
		<component type="typeof(CartCardItem)" render-mode="Static" />
	</div>
	<div class="col-2"></div>
	<div class="col-3">
		<div class="d-flex justify-content-between">
			<p class="h3 text-primary">Total</p>
			<p class="h3 text-primary">$20</p>
		</div>
		<div class="mt-2 d-flex justify-content-between">
			<p class="caption">Discount</p>
			<p class="caption">20.000</p>
		</div>
		<div class="mt-4 d-flex justify-content-between">
			<p class="h2">Balance</p>
			<p class="h2">$40</p>
		</div>
		<button class="btn btn-primary w-100 mt-3" onclick="">Buy Now</button>
	</div>
</div>