<div class="col-1">
	<div class="p-3 bg-light shadow rounded d-flex flex-column justify-content-around align-items-center gap-2">
		<p class="fa-solid fa-seedling fs-2 m-0"></p>
		<span class="button">Category</span>
	</div>
</div>

@code {

}
