<div class="d-flex">
	<button class="btn btn-icon bg-color-fade fs-4">-</button>
	<input class="border-0 form-control text-center h6" style="width:70px" />
	<button class="btn btn-icon bg-color-fade fs-4">+</button>
</div>

@code {

}
