@if (product != null)
{
	<div class="card border-0 mb-5">
		<div class="">
			<img src="image/flower1.png" class="card-img-top" />
		</div>

		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div>
					<p class="h4">@product.Name</p>
					<p class="h3 text-secondary mt-3">$@product.UniPrice</p>
				</div>
				@if (product.IsLike == false) {
					<a class="fa-solid fa-heart icon-normal text-color-fade hover-icon text-decoration-none h-fit"></a>
				}
				else {
					<a class="fa-solid fa-heart icon-normal text-secondary hover-dark-icon text-decoration-none h-fit"></a>
				}
			</div>
		</div>

		<button class="btn btn-primary mt-2 w-100 button" asp-action="SignIn" @onclick="AddToCart">Add to Cart</button>
	</div>
}

@code {

	[Parameter]
	public ProductModel product { get; set; }

	[Parameter]
	public string url { get; set; } = "";

	private void AddToCart()
	{
		// code xu li
	}

	//public async Task SignIn()
	//{
	//	await SignIn();
	//}
}
