<div class="col-6">
	<div class="bg-light d-flex align-items-center px-3 py-4 rounded shadow">
		<p class="fa-solid fa-seedling fs-1"></p>
		<div class="ms-2">
			<p class="small-caption">text</p>
			<p class="button">text</p>
		</div>
	</div>
</div>

@code {

}
