
<div class="border border-2 border-app radius-2 px-4 py-3 d-flex align-items-end justify-content-between">
	<div class="d-flex flex-column gap-3">
		<div class="d-flex align-items-end gap-3">
			<p class="h6 text-primary">Code:</p>
			<p class="h5 text-secondary">@voucher.Code</p>
		</div>
		<div class="d-flex align-items-end gap-3">
			<p class="h6 text-primary">Value:</p>
			<p class="h5 text-secondary">@voucher.Discount</p>
		</div>
		<div class="d-flex align-items-end gap-3">
			<p class="caption">Expired:</p>
			<p class="caption text-primary">@voucher.ExpiredDate</p>
			<p class="caption text-primary">amount: @voucher.Amount</p>
		</div>
		<div class="d-flex align-items-end gap-3">
			<p class="caption">Condition:</p>
			<p class="caption text-primary">Order greater than $@voucher.ConditionValue</p>
		</div>
	</div>
	@if(voucher.State == Core.Enums.VoucherStatus.ComingSoon)
	{
		<button class="btn-no-min btn-secondary" disabled>Use</button>

	}
	else
	{
	<button class="btn-no-min btn-secondary">Use</button>
		
	}
</div>

@code {
	[Parameter]
	public VoucherDetailModel voucher { get; set; } = null!;
}
