@using FlowerShopManagement.Core.Enums;

@model PaginatedList<UserModel>

@{
}

<div class="row">
	<div class="col-lg-2 d-lg-block collapse borderCustom1 um mt-3">
		<partial name="_Filter" model=@Model />
	</div>

	<div class="col-lg-10 col-12 mt-3 mt-lg-0">
		<form method="post" action="@(Url.Action("Sort", "User"))" onsubmit="return jQueryAjaxSearch(this)">
			<div class="d-flex w-100">
				<input type="text" name="pageNumber" value="1"
					   class="form-control form-control-lg h5 h-100 position-relative" style="z-index:99"
					   placeholder="Abc" hidden>

				<input type="text" name="searchString" id="ip-search" value="@ViewData["CurrentFilter"]"
					   class="form-control form-control-lg h5 h-auto position-relative m-0" style="z-index:99"
					   placeholder="Search user">

				<button class="btn btn-icon border border-primary position-relative d-flex gap-2 align-items-center" id="btn-search" style="z-index:999"
						type="submit">
					Search
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>

		</form>
		<div class="row mt-3">
			<div class="" id="hihi">
				<partial name="_ViewAll" model=@Model view-data="ViewData" />
			</div>
		</div>
		<nav class="container" id="pagination">
			<partial name="_Pagination" model=@Model view-data="ViewData" />
		</nav>

	</div>

</div>

<button class="btn btn-primary icon-plus rounded position-fixed" id="btn-create" style="right:0; bottom:60px;" onclick="location.href = '@(Url.Action("Create", "User"))'">Create new User</button>