@using FlowerShopManagement.Web.ViewModels

@model OrderVM

@*ADMIN Creating Order*@
@{
    this.Model.isOkay = true;
    //var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
    //TempData["orderVM"] = json.ToString();
}

<p class="mt-4"></p>
<span class="h1">Create new Order</span>

<form asp-action="Create" asp-area="Admin" asp-controller="Order" class="row mt-3">

    <div class="col-7">
        <span class="h3 text-color-secondary">Products</span>

        @*Current picked items*@
        <div id="picked-items"> <partial name="_PickedItemsTable" model=@Model.ProductModels /></div>


        <div class="mt-3">
            <button class="btn btn-secondary" type="button"
                    onclick="OpenPostDialog('@(Url.Action("PickItemDialog", "Order"))','Current Products')">
                Pick item
            </button>
        </div>
    </div>

    @*Customer Infomation*@
    <div class="col-5">
        <span class="h3 text-color-secondary">Customer</span>
        <div class="row mt-3">
            <div class="col-7 form-group">
                <label class="form-label" for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control form-control-lg h5 py-3" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="col-5 form-group">
                <label class="form-label" for="exampleFormControlInput1">Phone</label>
                <input type="tel" class="form-control form-control-lg h5 py-3" id="exampleFormControlInput1" placeholder=""> @*Change to select form*@
            </div>
        </div>
        <div class="row">
            <div class="col-7 form-group">
                <label class="form-label" for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control form-control-lg h5 py-3" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="col-5 form-group">
                <label class="form-label" for="exampleFormControlInput1">Birthday</label>
                <input type="date" class="form-control form-control-lg h5 py-3" id="exampleFormControlInput1" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="exampleFormControlInput1">Address</label>
            <input type="text" class="form-control form-control-lg h5 py-3" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="mt-5 d-flex justify-content-end gap-3">
            <a class="btn btn-secondary">Back to List</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
