@*Kiem tra xem da dang nhap hay chua?*@

@*Chua dang nhap*@
<li class="nav-item dropdown-item">
	<a class="nav-link" id="login" asp-action="SignIn" asp-controller="Authentication" >Login</a>
</li>
<li class="nav-item dropdown-item">
	<a class="nav-link" id="register" asp-action="Register" asp-controller="Authentication">Register</a>
</li>
<li class="nav-item dropdown-item">
	<a class="nav-link" id="SignOutAsync" asp-action="SignOutAsync" asp-controller="Authentication">Register leu leu</a>
</li>

@*Da dang nhap*@
@*<li class="nav-item dropdown-item">
	<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello ???</a>
</li>
<li class="nav-item dropdown-item">
	<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
		<button id="logout" type="submit" class="btn btn-active-none-style nav-link w-100">Logout</button>
	</form>
</li>*@