@*Kiem tra xem da dang nhap hay chua?*@

@if (!Context.User.Identity.IsAuthenticated)
{
	@*Chua dang nhap*@
	<h2>null roi ne hihi</h2>
	<li class="nav-item dropdown-item">
		<a class="nav-link" id="login" asp-action="SignIn" asp-controller="Authentication">Login</a>
	</li>
	<li class="nav-item dropdown-item">
		<a class="nav-link" id="register" asp-action="Register" asp-controller="Authentication">Register</a>
	</li>
}
else
{
	@*Da dang nhap*@
	<li class="nav-item dropdown-item">
		<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @ViewData["Username"]</a>
	</li>
	<li class="nav-item dropdown-item">
		<form id="logoutForm" class="form-inline" asp-action="SignOutAsync" asp-controller="Authentication">
			<button id="logout" type="submit" class="btn btn-active-none-style nav-link w-100">Logout</button>
		</form>
	</li>
}
