@model List<InforDeliveryModel>

@{
    ViewData["Title"] = "Manage Address";
}

<h3>@ViewData["Title"]</h3>

@if (Model != null && Model.Count > 0) {
    foreach(var item in Model) {
        <component type="typeof(AddressCard)" param-inforDelivery=@item/>
        <div class="mt-2"></div>
    }
}