@model List<InforDeliveryModel>

@{
	ViewData["Title"] = "Manage Address";
}

<div class="w-75">
	@if (Model != null && Model.Count > 0)
	{
		foreach (var item in Model)
		{
			<component type="typeof(AddressCard)" param-inforDelivery=@item render-mode="ServerPrerendered" />
		}
	}
</div>

<button class="btn btn-primary position-fixed end-0 top-10" onclick="showContent2('@Url.Action("CreateInfoDelivery", "Profile")', 'Create new Info Delivery')">Add new +</button>