@model SignInModel;

<div class="container">
	<p class="h1 mt-5 text-center">Login</p>

	<div class="d-flex justify-content-center mt-5">
		<form class="h-auto" method="post" asp-action="SignIn" asp-controller="Authentication" style="width: 300px">
			<div class="form-group">
				<label class="form-label" for="exampleFormControlInput1">Email/Phone Number</label>
				<input type="text" asp-for="EmailorPhone" id="ip-account" class="form-control form-control-lg h5 py-3" placeholder="">
				<span asp-validation-for="EmailorPhone"></span>
			</div>
			<div class="form-group">
				<label class="form-label" for="exampleFormControlInput1">Password</label>
				<input type="password" asp-for="Password" id="ip-password" name="Password" class="form-control form-control-lg h5 py-3" id="exampleFormControlInput1" placeholder="">
				<span asp-validation-for="Password"></span>
			</div>

			<button class="btn btn-primary mt-5 float-end" id="btn-gotoapp">Go to App</button>
		</form>
	</div>

	<a class="btn btn-secondary mt-5" asp-action="Register" asp-controller="Authentication">Register</a>
</div>