@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
	<p>Contributors:</p>

	<p>Lê Hoàng Quý - 20520727</p>
	<p>Lâm Tấn Phát - 20520682</p>
	<p>Nguyễn Khánh Huyền - 20520558</p>
</div>