@using FlowerShopManagement.Web.Views.Shared.Components;

@{
	ViewData["Title"] = "Home Page";
}

<div>
	<div class="h3 mb-3">Categories</div>
	<div class="row gx-3">
		<component type="typeof(CategoryCard)" render-mode="Static" />
		<component type="typeof(CategoryCard)" render-mode="Static" />
		<component type="typeof(CategoryCard)" render-mode="Static" />
	</div>
</div>

<div class="mt-5">
	<div class="h3 mb-3">Products</div>
	<form asp-action="SignIn" method="SignIn()">
		<button class="btn btn-default">Button</button>
	</form>
	<div class="row gx-3 gy-5">
		<component type="typeof(ProductCard)" render-mode="Static" />
		<component type="typeof(ProductCard)" render-mode="Static" />
		<component type="typeof(ProductCard)" render-mode="Static" />
		<component type="typeof(ProductCard)" render-mode="Static" />
		<component type="typeof(ProductCard)" render-mode="Static" />
		<component type="typeof(ProductCard)" render-mode="Static" />
		<component type="typeof(ProductCard)" render-mode="Static" />
	</div>
</div>


<div>Pagination</div>