<div class="hero-image">
</div>

<section class="top-product mt-5">
	<div class="row align-items-center">
		<div class="col-7">
			<p class="h2">Top Products</p>
			<p class="h3">
				Description	
			</p>
			<p class="h3">
				Material
			</p>
			<a href="#" class="btn btn-primary">View More Products</a>
		</div>
		<div class="col-5">
			<img src="~/image/flower1.png" alt="product's image" class="w-100 h-auto" />
		</div>
	</div>
</section>

<section class="feature mt-5 text-center">
	<p class="h2">Feature</p>
	<div class="d-flex justify-content-center mt-4">
		<div class="feature-list d-flex justify-content-between w-75">
			<div class="feature-item">
				<p class="h3">Fast delivery</p>
				<p class="caption">description something</p>
			</div>
			<div class="feature-item">
				<p class="h3">Fast delivery</p>
				<p class="caption">description something</p>
			</div>
			<div class="feature-item">
				<p class="h3">Fast delivery</p>
				<p class="caption">description something</p>
			</div>
		</div>
	</div>
</section>