@using FlowerShopManagement.Web.Views.Shared.Components;
@model ProductDetailModel

@{
	ViewData["Title"] = "Detail Page";
}
<div class="mt-5 row">

	<div class="col-4">
		<img src="~/image/flower2.png" class="w-100 h-auto" />
	</div>

	<div class="col-5 d-flex flex-column justify-content-between">
		<component type="typeof(ProductDetail)"
				   render-mode="ServerPrerendered"
				   param-url=@Url.Action("AddToCart","Cart",null,Context.Request.Scheme)
				   param-url1=@Url.Action("BuyNow","Order",null,Context.Request.Scheme)
				   param-Model="@Model" />
	</div>

	<div class="col-3 d-flex flex-column justify-content-between">

		<div class="">
			<label class="h6">Description</label>
			<p class="mt-2">
				@Model.Description
			</p>

		</div>
		<div class="row gx-2 gy-3">
			<component type="typeof(ProductInformationPanel)" render-mode="Static" />
			<component type="typeof(ProductInformationPanel)" render-mode="Static" />
			<component type="typeof(ProductInformationPanel)" render-mode="Static" />
			<component type="typeof(ProductInformationPanel)" render-mode="Static" />
		</div>
	</div>
</div>

<div class="row mt-5">
	<span>Review</span>
</div>

<div class="row mt-5">
	<span>Relative Product</span>
</div>